@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:wght@800&display=swap');


.main{
  background-color: red;
  width: auto;
  height: 100vh;
}
.boxForm{
  background-color: white;
  width: 400px;
  height: 500px;

  box-shadow: 5px 5px 10px #000000;

  border-radius: 10px;

  position: absolute;
  left:50%;
  top:50%;

  transform: translate(-50%, -50%);

}
.form{
 
}

input{
  margin-left: 50px;
  margin-top: 40px;
  padding: 5px;
  width: 275px;
  border: none;
  border-bottom: 1px solid gray;

  font-size: 15px;
  font-family: 'Kanit', sans-serif;
}
input:hover{
  border:none;
  border-bottom: 1px solid red;
}
.button{
  padding: 10px 50px 10px 50px;
  border: none;
  color: white;
  background-color: rgb(187, 2, 2);
  border-radius: 30px;
  margin-left: 33%;
  margin-top: 15%;
  cursor: pointer;

  font-family: 'Kanit', sans-serif;
}
.button:hover{
  background-color: rgb(255, 0, 0);
  box-shadow: 5px 5px 10px #888888;
}
